@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Sanchez&display=swap");

body {
  font-family: "Azaret Mono", "Courier New", Courier, monospace;
  background-color: #111111;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: 500;
  /* break on word boundaries */
  word-wrap: break-word;
}

ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0 !important;
  margin-bottom: 0.25rem !important;
}

:root {
  --blue: #7d96fc;
  --violet: #fa9ce1;
  --yellow: #fdec8c;
  --red: #ff7a7a;
  --orange: #ff9f7a;
  --green: #8cff8c;
  --indigo: #9b83fc;
  --light-gray: #f0f0f0;
  --white: #fefefe;
}

.box-bl {
  border: 1px solid var(--blue);
  color: var(--blue);
}

.box-vi {
  border: 1px solid var(--vioet);
  color: var(--vioet);
}

.box-ye {
  border: 1px solid var(--yellow);
  color: var(--yellow);
}

.box-re {
  border: 1px solid var(--red);
  color: var(--red);
}

.box-gr {
  border: 1px solid var(--green);
  color: var(--green);
}

.box-ig {
  border: 1px solid var(--indigo);
  color: var(--indigo);
}

.box-lg {
  border: 1px solid var(--light-gray);
  color: var(--light-gray);
}

.full-window {
  width: 100vw;
  height: 97vh;
  top: 0;
  left: 0;
}

.footer {
  font-size: 0.8rem;
  min-height: 3vh;
  padding: 0.5vh;
  color: var(--light-gray);
  /* italic */
  font-style: italic;
}

.four-quarter-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.quarter-box {
  margin: 0.25rem;
  padding: 0.75rem;
}

.text-sm {
  font-size: 0.75rem;
}

@media screen and (min-width: 701px) {
  .four-quarter-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .quarter-box {
    min-height: 250px;
    max-height: 1fr;
    overflow: auto;
  }
}

@media screen and (max-width: 700px) {
  .four-quarter-grid {
    display: flex;
    flex-direction: column;
  }

  .full-window {
    height: 100%;
  }

  body {
    overflow-y: scroll !important;
  }
}

li {
  list-style-type: "> " !important;
}

a:link,
a:visited {
  color: unset !important;
  transition: border-color 0.3s;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 2px;
}

a:link:hover,
a:visited:hover {
  border-color: inherit;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
  align-items: center;
}

.margin-top-auto {
  margin-top: auto;
}

.home-image-container {
  height: calc(100% - 8rem);
  /* margin: 0 5%; */
  margin: calc(5rem / 4) 5%;
  width: 90%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  justify-content: start;
  border-radius: 2px;
  border-width: 1.5px;
  border-style: solid;
}

@media screen and (max-width: 700px) {
  .home-image-container {
    height: 300px;
  }
}

.home-image-container > img {
  object-fit: cover;
  height: calc(100% - 1px);
}

.nested-title {
  display: flex;
  align-items: end;
  justify-content: start;
}

.blog-quarter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
